name: Dependabot auto-merge
on: pull_request

permissions:
  contents: write
  pull-requests: write

jobs:
  dependabot:
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'
    steps:
      - name: Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@v2
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"
          ref: ${{ github.head_ref || github.ref }}
          fetch-depth: 0
      - name: Get current version
        id: get_version
        run: cd sevdesk-api > /dev/null && git describe --tags --abbrev=0
      - name: Enable auto-merge for OpenAPI PRs
        if: steps.metadata.outputs.package-ecosystem == 'submodules'
        run: |
          gh pr merge --auto --squash --subject "build(api): update openapi" --body "Release-As: $VERSION" "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
          VERSION: ${{steps.get_version.outputs.stdout}}
      - name: Enable auto-merge for Dependabot PRs
        if: steps.metadata.outputs.package-ecosystem != 'submodules' && (steps.metadata.outputs.update-type == 'version-update:semver-minor' || steps.metadata.outputs.update-type == 'version-update:semver-patch')
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
