name: Generate Code from OpenAPI

on:
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  generate_code:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"
          ref: ${{ github.ref }}
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: "21.x"
      - run: npx --yes @openapitools/openapi-generator-cli version-manager set stable
      - run: ./scripts/generate.sh
      - run: |
          user=$(gh api /user)
          user_name=$(jq -r '.login' <<<"$user")
          user_email=$(jq -r ".email | \"$user_name@users.noreply.github.com\"" <<<"$user")
          git config user.name "$user_name"
          git config user.email "$user_email"
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
      - name: Commit update
        run: |
          git add .
          git commit -m "feat: update generated code from OpenAPI" || exit 0
          git push
