name: Generate Code from OpenAPI

on:
  pull_request_target:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  generate_code:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}
          ref: ${{ github.head_ref || github.ref }}
          fetch-depth: 0
          submodules: "recursive"
      - uses: actions/setup-node@v4
        with:
          node-version: "21.x"
      - run: npx --yes @openapitools/openapi-generator-cli version-manager set stable
      - run: ./scripts/generate.sh
      - run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
      - name: Commit update
        run: |
          git add .
          git commit -m "feat: update generated code from OpenAPI" || exit 0
          git push
        env:
          GITHUB_TOKEN: ${{secrets.GH_TOKEN}}
